<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="">
<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: common-navigation}"></div>
<link rel="stylesheet" href="../styles/letter.css">

<div id="main">
    <div  class="zg-wrap zu-main clearfix ">
        <ul th:each="vo : ${vos}" class="letter-chatlist">
            <li id="msg-item-4009580">
                <a class="list-head">
                    <img alt="头像" th:src="${vo.get('headUrl')}">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p th:text="${vo.get('message').getCreatedDate()}" class="letter-time"></p>
                        </div>
                        <p class="chat-content" th:text="${vo.get('message').getContent()}" >
                        </p>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>

</body>
</html>
